#header{
    background:linear-gradient(to right ,rgb(10, 10, 220),rgb(77, 193, 202));
    padding: 15px 0px;
}
#header button{
  float: right;
  margin-left: 10px;
}
#header h4{
  color: white;
}
#mid img{
  height: 150px;
  display: flex;
justify-content: center;

}