<div class="col-md-3">
<a href="/admin/alluser/jj"><button class="btn btn-success form-control mt-3">All user</button></a>
<a href="/admin/dashboard/jj"><button class="btn btn-success form-control mt-3">All blogs</button></a>

</div>