<section id="header">
    <div class="container">
        <div class="row">
            <div class="col-md-4"><h4>Welcome <%=username%></h4></div>
            <div class="col-md-8">
               <a href="/logout"><button type="submit" class="btn btn-danger">Logout</button></a> 
                <a href="/changecpass/jj"><button type="submit" class="btn btn-info">Change Password</button></a>
                <a href="/user/myblogs/jj"><button type="submit" class="btn btn-warning">My Blogs</button></a>
                <a href="/user/profile/jj"><button type="submit" class="btn btn-success">My Profile</button></a>
                <a href="/user/blogs"><button type="submit" class="btn btn-dark">All Blogs</button></a>
                
                
            </div>
        </div>
    </div>
        </section>